/* 1rem=16px */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Comfortaa, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  line-height: 1.4;
  background-color: #ffffff;
}

a {
  color: #333;
  text-decoration: none;
}

.btn {
  font-size: 0.9em;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.list-unstyled {
  padding-left: 5px;
  list-style: inside;
}

/* NAVBAR */
.container-fluid,
.row.navbar {
  padding: 0;
  border-bottom: 1px solid #bdc4b3;
}

.navbar-brand {
  padding-left: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-brand img {
  width: 183px;
  height: 80px;
}

.nav-search {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-search form {
  height: 40px;
  width: 90%;
}

.nav-search form .form-group .form-control {
  width: 90%;
  height: 40px;
  border: 1px solid #499167;
  border-radius: 6px 0 0 6px;
}

.nav-search form .form-group button {
  width: 40px;
  height: 40px;
  border: 1px solid #499167;
  border-left: none;
  cursor: pointer;
  background-color: #499167;
  color: #ffffff;
}

.nav-search form .form-group button .fa-search {
  font-size: 24px;
}

.fa-unlock {
  font-size: 36px !important;
  color: #499167;
  text-shadow: 3px 2px rgba(255, 165, 0, .75)
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-buttons button {
  height: 40px;
  color: #499167;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #499167;
}

.nav-buttons .sell {
  color: #ffffff;
  background-color: #499167;
}

/* CATEGORIES */
.categories {
  padding-left: 50px;
  padding-right: 50px;
}

.categories-list {
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.categories a:hover {
  text-decoration: none;
  color: #499167;
}

.container.slick-job .job-title,
.container.slick-job .job-description {
  background-color: rgb(247, 243, 243);
}

.container.slick-job .job-description ul {
  margin-left: 1.2rem;
}

.container.slick-job .job-description a {
  color: rgb(24, 105, 228);
}

.container.slick-job .job-description h5 {
  font-size: .85rem;
}

.container.slick-job .choosen-job img {
  max-height: 104px;
}

.container.slick-job .sidebar-content img {
  max-height: 56px;
  width: 90px;
}

.container.slick-job .job-title .media-body {
  height: 104px;
}

.container.slick-job .sidebar-content .job-title .media-body {
  height: 72px;
}

.container.slick-job .sidebar-content h5 {
  font-size: .8rem;
}

.container.slick-job .sidebar-content h5 a {
  color: #178ab8 !important;
  font-weight: 900;
}

.container.slick-job .sidebar-content small {
  font-size: 55%;
  font-weight: 900;
}

.container.slick-job .job-description strong {
  font-weight: 900 !important;
}

.container.slick-job .job-description code {
  font-size: 1rem;
}

@media all and (min-width: 992px) {
  .categories-list .category-item .dropdown-menu {
    display: none;
  }

  .categories-list .category-item:hover .dropdown-menu {
    display: block;
    top: calc(100% + 10px) !important;
  }

  .categories-list .category-item:hover .fa-angle-down:before {
    content: "\f106";
  }

  .categories-list .category-item .dropdown-menu {
    margin-top: -10px;
    transition: 0.3s;
    min-width: 7rem;
  }
}

@media all and (max-width: 991px) {
  .categories-list-mobile .category-item .dropdown-menu {
    display: none;
  }

  .categories-list-mobile .category-item.show-details .dropdown-menu {
    display: contents !important;
  }

  .categories-list-mobile .category-item.show-details .dropdown-menu a.dropdown-item {
    color: #499167 !important;
    display: inline !important;
  }

  .categories-list-mobile .category-item .dropdown-menu {
    margin-top: 0;
  }

  .categories-list-mobile .category-item.show-details .fa-angle-down:before {
    content: "\f106";
  }
}


/* PROCESSES & GENERAL*/
.container.processes,
.container.things,
.container.money,
.container.footer {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.container.processes {
  background-color: #ebf0ed;
  padding: 86px 0 35px 0;
}

.row.groups {
  margin: 0 38px;
}

.row.groups>div {
  margin-top: auto;
}

.groups .process-grp {
  text-align: center;
  padding: 0;
  height: 220px;
  width: 380px;
}

.process-grp h5 {
  font-weight: 700;
  font-size: 1.8rem;
  margin-top: 12px;
  padding-top: 6px;
}

.process-grp p {
  font-weight: 400;
  font-size: 1rem;
}

.process-grp img {
  width: 97px;
  height: 97px;
  background-color: #c3ccac;
  clip-path: circle(50% at 50% 50%);
  margin: 0 auto;
  display: flex;
}

.processes .groups {
  display: flex;
  justify-content: space-around;
}

.know-more-container {
  padding-top: 30px;
}

.know-more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.know-more button {
  background-color: #91f9e5;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 0 !important
}

/* BROWSE ITEMS */
.row.contents {
  margin: 60px 32px 0px 32px;
  text-align: center;
}

.row.contents h4 {
  font-size: 1.9rem;
  font-weight: bolder;
  padding: 8px 0;
}

.row.contents .cards {
  margin: 0 50px;
  padding: 0;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards .oneCard {
  width: 180px;
  height: 350px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards .item-holder {
  width: 180px;
  height: 350px;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.cards .item {
  height: 375px;
  width: 160px;
}

.cards .item img {
  width: 160px;
  height: 160px;
  background-color: #c3ccac;
  /* clip-path: circle(50% at 50% 50%); */
  clip-path: polygon(20% 0%,
      80% 0%,
      100% 20%,
      100% 80%,
      80% 100%,
      20% 100%,
      0% 80%,
      0% 20%);
  margin: 0 auto;
  display: flex;
}

.cards .item h6 {
  font-weight: bold;
  font-size: 1rem;
  padding-top: 1rem;
}

.cards .item .price {
  color: #499167;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 10px;
}

.cards .item .desc {
  width: 160px;
  font-size: 14px;
  line-height: 18px;
}

.row.contents .load-more-holder {
  margin: 30px auto;
}

.row.contents .load-more {
  width: 153px;
  color: #ffffff;
  background-color: #499167;
  font-size: 1.1rem;
  font-weight: 800;
}

/* MONEY BACK */
.container.money {
  background-color: #ebf0ed;
  padding: 54px;
}

.row.moneyRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.row.moneyRow h4 {
  margin-top: 10px;
  font-weight: 900;
}

.row.moneyRow p {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 500;
}

.row.moneyRow button {
  margin: 0 !important;
  margin-top: 20px;
  color: #3f4531;
  background-color: #91f9e5;
  font-weight: 800;
  font-size: 1.1rem;
}

/* FOOTER */
.container.footer {
  padding: 24px 82px;
  background-color: #91f9e5;
}

.row.footerLinks,
.row.footerSocial {
  margin: 0;
}

h6.shops,
h6.community,
h6.company {
  line-height: 28px;
  font-weight: 700;
}

ul.shops li,
ul.community li,
ul.company li {
  list-style: none;
  line-height: 24px;
  font-size: 0.8rem;
}

.row.footerSocial .copyright {
  display: flex;
  align-items: center;
}

.row.footerSocial .copyright p {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.row.footerSocial .icons i {
  margin-left: 25px;
}

/* reset focus border on any input */
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: inset 0 -1px 0 #ddd;
}

.row.footerSocial .icons i.fa {
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 200;
  width: 2.75rem;
  height: 2.75rem;
  background-color: #3f4531;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'FontAwesome';
}

.selfIcons {
  display: flex;
  justify-content: space-around;
}

.icons h6 {
  margin-bottom: 1.5rem;
  font-weight: 900;
}

a.forgot-password {
  text-decoration: underline !important;
}

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .row.navbar {
    padding-top: 5px;
    padding-bottom: 0;
    border-bottom: 1px solid #bdc4b3;
  }

  .navbar-toggler-holder {
    display: flex;
    align-items: center;
    height: 40px;
  }

  .navbar-light button.navbar-toggler {
    margin-left: 25px;
    color: #499167;
    border-color: #499167;
    width: 38px;
    height: 34px;
    padding: 3px;
  }

  .navbar-toggler {
    padding: 0.2rem 0.75rem;
    font-size: 1.7rem;
    border-radius: 6px;
  }

  .nav-search {
    display: none;
  }

  .nav-search.show {
    background: rgba(204, 204, 204, 0.7);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 24px;
  }

  .nav-search form {
    height: 40px;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
  }

  .nav-buttons.col-8 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .nav-buttons button.search-sm {
    width: fit-content;
    height: 40px;
    border: 1px solid #fff;
  }

  .nav-buttons button.search-sm .fa {
    font-size: 22px;
    font-weight: 900;
    vertical-align: middle;
  }

  .nav-buttons button {
    height: 32px;
    font-size: 0.8rem;
    width: 84px;
  }

  .nav-buttons .sellNow {
    color: #ffffff;
    background-color: #499167;
    margin-right: 5px;
  }

  .nav-search .nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .nav-search .nav-buttons div.buy {
    width: 100%;
  }

  div.help {
    display: flex;
    flex-direction: row;
  }

  div.help .fa {
    font-size: 20px;
  }

  .nav-search .nav-buttons .buy ul {
    list-style: none;
  }

  .nav-buttons .item-buy {
    color: #212529;
    font-weight: 900;
  }

  .nav-search form .form-group .form-control {
    width: 80%;
    height: 40px;
  }

  .nav-search form .form-group .form-control::placeholder {
    font-size: .9em;
  }

  form .form-group.row {
    margin: 0;
    padding: 0;
    justify-content: center
  }

  li.item-buy i {
    float: right;
  }

}

/***********/
/* TABLET */
/*********/
@media screen and (max-width: 1024px) {
  .row.groups {
    margin: 0 95px;
  }

  .groups .process-grp {
    height: 164px;
    width: 260px;
  }

  .process-grp h5 {
    font-size: 1.1rem;
  }

  .process-grp p {
    font-size: 0.7rem;
  }

  .process-grp img {
    width: 71px;
    height: 73px;
  }

  .know-more button {
    font-size: 0.9rem;
  }

  /* BROWSE ITEMS */
  .row.contents {
    margin: 60px 43px 0px 43px;
  }

  .row.contents h4 {
    font-size: 1.8rem;
    padding: 6px 0;
  }

  .row.contents .cards {
    margin: 0 3.6rem;
    flex-wrap: wrap;
  }

  .cards .oneCard {
    width: 11.9rem;
  }

  .cards .item img {
    width: 160px;
    height: 160px;
  }

  .cards .item-holder,
  .cards .item {
    width: 169px;
    height: 100%;
  }

  .cards .item h6,
  .cards .item .desc {
    width: 100%;
  }

  .cards .item h6 {
    margin-bottom: 0.9rem;
  }

  .cards .item .desc {
    font-size: 0.8rem;
  }

  .row.contents .load-more-holder {
    margin: 1rem auto;
  }

  .row.contents .load-more {
    width: 18.7rem;
    font-size: 1.1rem;
  }


  /* MONEY BACK */
  .container.money {
    padding: 2rem;
  }

  .row.moneyRow button {
    margin-top: 20px;
    font-size: 1.2rem;
  }

  /* FOOTER */
  .container.footer {
    padding: 2.5rem 1.2rem;
  }

  .row.footerLinks .logo {
    padding: 0;
  }

  ul.shops li,
  ul.community li,
  ul.company li {
    line-height: 1.4rem;
    font-size: 0.9rem;
  }

  .row.footerSocial {
    padding: 1.6rem 0 0 0;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .row.footerSocial .copyright {
    justify-content: center;
  }

  .row.footerSocial .copyright p {
    font-size: 0.7rem;
    margin-top: 1rem;
  }

  .row.footerSocial .icons i {
    margin-left: 1.5rem;
  }

  .row.footerSocial .icons i.fa {
    border-radius: 50%;
    font-size: 1.9rem;
    width: 2.7rem;
    height: 2.7rem;
  }

  .icons h6 {
    margin-bottom: 1.8rem;
  }
}

@media screen and (min-width: 768px)and (max-width: 1024px) {
  .selfIcons {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }
}

/*****************/
/* SMALL TABLET */
/***************/

@media screen and (max-width: 768px) {
  .row.contents .cards {
    margin: 0 .5rem;
    flex-wrap: wrap;
  }

  .cards .oneCard {
    width: 9rem;
    padding-left: 5px;
    height: 250px;
  }

  .cards .item h6,
  .cards .item .desc,
  .cards .item .price {
    text-align: center;
  }

  .container.money {
    padding: 1.5rem;
  }

  .container.slick-job h4 {
    font-size: .9rem;
    font-weight: 900 !important;
  }

  .container.slick-job h6 {
    font-size: .7rem;
    font-weight: 900 !important;
  }

  .container.slick-job h5 {
    font-size: .8rem !important;
    font-weight: 900 !important;
  }

  .container.slick-job .job-description strong {
    font-weight: 900 !important;
  }

  .container.slick-job .job-description h4,
  .container.slick-job .job-description h5 {
    margin-bottom: .7rem;
  }

  .container.slick-job .job-description code {
    font-size: 94%;
  }

  .container.slick-job .job-description .alert-info {
    font-size: .7rem;
    padding: .4rem;
  }

}

/***********/
/* MOBILE */
/*********/

@media screen and (max-width: 768px) {
  .cards .item img {
    width: 8rem;
    height: 8rem;
  }

  .cards .item .desc {
    font-size: 0.6rem;
    text-align: center;
  }
}

/* process */
@media screen and (max-width: 414px) {
  h1 {
    font-size: 1.5rem !important;
    font-weight: 900;
  }

  h2 {
    font-size: 1.3rem !important;
    font-weight: 900;
  }

  h3 {
    font-size: 1.2rem !important;
    font-weight: 900;
    text-align: center;
  }

  p,
  li {
    font-size: .7rem !important;
  }

  .container.processes {
    background-color: #ebf0ed;
    padding: 24px 0
  }

  .row.groups {
    margin: 0 24px;
  }

  .groups .process-grp {
    width: 100%;
    height: 181px;
    padding-top: 20px;
  }

  .process-grp h5 {
    font-size: 1.2rem;
    text-align: center;
  }

  .process-grp p {
    font-size: 0.9rem;
    text-align: center;
  }

  .process-grp img {
    width: 71px;
    height: 73px;
  }

  .know-more-container {
    padding-top: 20px;
  }

  .know-more button {
    font-size: 0.7rem;
  }

  .btn {
    padding: 7px 14px !important;
  }

  /* BROWSE ITEMS */
  .row.contents {
    margin: 30px 10px 0px 10px;
    text-align: center;
  }

  .row.contents h4 {
    font-size: 1.15rem;
    padding: 6px 0;
  }

  .row.contents h5 {
    font-size: .8rem;
  }

  .row.contents p {
    font-size: .7rem;
  }

  .row.contents .cards {
    margin: 0;
    flex-wrap: wrap;
  }

  .cards .oneCard {
    width: 190px;
    height: fit-content;
  }

  .cards .item-holder,
  .cards .item {
    padding: .2rem;
    width: 100%;
    height: 100%;
  }

  .cards .item h6,
  .cards .item .desc,
  .cards .item .price {
    width: 100%;
    font-size: .8rem;
    text-align: center;
  }

  .cards .item h6 {
    margin-bottom: 0.9rem;
    text-align: center;
  }

  .cards .item .desc {
    font-size: .7rem;
  }

  .row.contents .load-more-holder {
    margin: .8rem auto;
  }

  .row.contents .load-more {
    width: 10rem;
    font-size: .8rem;
  }


  /* MONEY BACK */
  .container.money {
    padding: 1.1rem;
  }

  .row.moneyRow h4 {
    font-size: 1.3rem;
  }

  .row.moneyRow p {
    font-size: 1.1rem;
    text-align: center;
  }

  .row.moneyRow button {
    font-size: .7rem;
  }

  /* FOOTER */
  .container.footer {
    padding: 32px 16px;
  }

  ul.shops li,
  ul.community li,
  ul.company li {
    line-height: 1.4rem;
    font-size: 0.7rem;
  }

  .row.footerLinks .logo {
    display: flex;
    justify-content: center;
  }

  .row.footerSocial {
    padding: .6rem 0 0 0;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .row.footerSocial .copyright {
    justify-content: center;
  }

  .row.footerSocial .copyright p {
    font-size: 0.6rem !important;
    margin-top: 1rem;
    text-align: center;
  }

  .row.footerSocial .icons i {
    margin-left: 0;
  }

  .row.footerSocial .icons i.fa {
    border-radius: 50%;
    font-size: 1.7rem;
    width: 2.2rem;
    height: 2.2rem;
  }

  .icons h6 {
    margin-bottom: 1.4rem;
  }

  .w-50 {
    width: 100% !important;
  }
}